<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
			{{ successMsg }}
		</div>
	</div>
</div>


<!-- //banner -->

<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>O</span>ur
			<span>N</span>ew
			<span>P</span>roducts</h3>

		<div class="agileinfo-ads-display col-lg-9">
			<div class="wrapper">
				<!-- first section -->
				<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
					<h3 class="heading-tittle text-center font-italic">Products</h3>
					{{# each products }}
					<div class="row">
						{{# each this }}
						<div class="col-md-4 product-men mt-5">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item text-center">
									<img src="Uploads/{{ this.Record.Imagepath }}" alt="" width="150px" height="200px">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="/productdetails/{{this.Key}}" class="link-product-add-cart">Quick
												View</a>
										</div>
									</div>
								</div>
								<div class="item-info-product text-center border-top mt-4">
									<h4 class="pt-1">
										<a href="/productdetails/{{this.Key}}">{{ this.Record.Title }}</a>
									</h4>
									<div class="info-product-price my-2">
										<span class="item_price">৳{{ this.Record.Price }}</span>

									</div>
									<div
										class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<a href="/add-to-cart/{{this.Key}}" class="button btn" role="button">Add to
											Cart</a>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
			<div class="side-bar p-sm-4 p-3">

				<!-- price -->
				<div class="range border-bottom py-2">
					<h3 class="agileits-sear-head mb-3">Category</h3>
					<div class="w3l-range">
						<ul>
							<li class="my-1">
								<a href="/utensils">Utensils</a>
							</li>

							<li class="my-1">
								<a href="/men_clothings">Men's Clothings</a>
							</li>

							<li class="my-1">
								<a href="/women_clothings">Women's Clothings</a>
							</li>
							<li class="my-1">
								<a href="/agro">Agro products</a>
							</li>
							<li class="my-1">
								<a href="/toys">Toys</a>
							</li>
							<li class="my-1">
								<a href="/tools">Tools</a>
							</li>
							<li class="my-1">
								<a href="/household">Household items</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="customer-rev border-bottom left-side py-2">
					<h3 class="agileits-sear-head mb-3">Price Range:</h3>
					<form action="/product_range" method="post">
						<div class="form-group">
							<label for="stx">From</label>
							<input type="text" id="stx" name="stx" class="form-control" required="">
						</div>

						<div class="form-group">
							<label for="endy">to</label>
							<input type="text" id="endy" name="endy" class="form-control" required="">
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>




				<div class="customer-rev border-bottom left-side py-2">
					<h3 class="agileits-sear-head mb-3">Customer Review</h3>
					<ul>
						<li>
							<a href="#">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<span>5.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<span>4.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half"></i>
								<span>3.5</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<span>3.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half"></i>
								<span>2.5</span>
							</a>
						</li>
					</ul>
				</div>


				<div class="f-grid py-2">
					<h3 class="agileits-sear-head mb-3">Best Seller</h3>
					<div class="box-scroll">
						<div class="scroll">
							<div class="row">
								<div class="col-lg-3 col-sm-2 col-3 left-mar">
									<img src="images/nok.jpeg" alt="" class="img-fluid">
								</div>
								<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
									<a href="">Nokshi Katha</a>
									<a href="" class="price-mar mt-2">BDT. 200</a>
								</div>
							</div>
							<div class="row my-4">
								<div class="col-lg-3 col-sm-2 col-3 left-mar">
									<img src="images/plate.jpg" alt="" class="img-fluid">
								</div>
								<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
									<a href="">Kashar plate</a>
									<a href="" class="price-mar mt-2">BDT. 300</a>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-sm-2 col-3 left-mar">
									<img src="images/nok.jpeg" alt="" class="img-fluid">
								</div>
								<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
									<a href="">Nokshi Katha</a>
									<a href="" class="price-mar mt-2">BDT. 500</a>
								</div>
							</div>
							{{!-- <div class="row">
										<div class="col-lg-3 col-sm-2 col-3 left-mar">
											<img src="images/k3.jpg" alt="" class="img-fluid">
										</div>
										<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
											<a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
											<a href="" class="price-mar mt-2">$1,199.00 </a>
										</div>
									</div> --}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>
</div>